/*
* @Author: CC
* @Date:   2016-02-09 22:42:46
* @Last Modified by:   CC
* @Last Modified time: 2016-02-14 23:44:23
*/

/*css 初始化 */
* {
  padding: 0;
  margin: 0;
}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img a {
    margin: 0;
    padding: 0;
    /*font-family: 'microsoft Yahei';*/
}

fieldset, img, input, button {      /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;       /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;      /*合并外边线*/
}
body {
    font-size: 12px;
    font-family: '微软雅黑',Arial,"宋体",simhei,sans-serif;
}


.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1; /*IE/7/6*/
}
a {
    text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}


/*公共类*/
.w {
    /*版心 提取 */
    width: 1240px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}
a {
    color: #000;
}
.al {
    text-align: left
}



/*头部的开始*/
